body {
    
    background-color: #f4f7f5;
    color: #1c2e24;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.btn-tema {
    padding: 10px 15px;
    background-color: #1e3f20;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* parte do texto */
.caixa-verde-escuro {
    background-color: #1e3f20;
    color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.caixa-verde-claro {
    background-color: #e2ebd5;
    color: #1e3f20;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* configurações da imagem */
img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 20px 0;
}

/* Espaçamento entre os botões */
.button-group {
    display: flex;
    gap: 15px;
}

/* Estilo padrão para ambos os botões */
.btn {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

/* Quando o botão "Gostei" estiver ativo (Verde) */
.btn-like.active {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

/* Quando o botão "Não Gostei" estiver ativo (Vermelho) */
.btn-dislike.active {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}